body{
    background-color: #d2d1d0;
    width: 100vw;
    height: 100vh;
}

.line img{
    vertical-align: middle;
    display: inline-block;
}

.line span{
    vertical-align: middle;
    display: inline-block;
    font-size: 300%;
}

.line {
    background-color: #f0ebe4;
}

.order {
    max-width: 60%;
    background-color: antiquewhite;
    border: solid 1px #555555;
    font-size: 3em;
}