.flex {
    display: flex;
}

.flex .listimage {
    width: 640px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.flex .listtext {
    margin: 0 0 0 100px;
    padding: 0;
}

.flex .listimage::before {
    content:"";
    display: block;
    padding-top: 58%;
}

.flex .listimage img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}